{% extends 'base.html.twig' %}

{% block title %}Lieu index{% endblock %}

{% block main %}

    <table class="table">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Gérer</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.username }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>
                <td>
                <div class="form-inline">
                    {% if participant.actif %}
                        <span><a class="btn btn-primary btn-danger" href="{{ path('participant_desactiver', {'id': participant.id}) }}">Désactiver</a></span>
                    {% else %}
                        <span><a class="btn btn-primary btn-success" href="{{ path('participant_activer', {'id': participant.id}) }}">Activer</a></span>
                    {% endif %}
                    <span><a class="btn btn-primary btn-success" href="{{ path('participant_show_only', {'id': participant.id}) }}">Voir le profil</a></span>
                        <form method="post" action="{{ path('participant_delete', {'id': participant.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant.id) }}">
                            <button class="btn btn-danger">X</button>
                        </form>
                </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
