{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block main %}


    <section id="sortie" class="pb-5">
        <div class="container">
            <h5 class="font h1 couleur section-title">Liste des sorties</h5>


            <h5 class="font couleur">Filtrer les sorties</h5>
            <div class="row padd">
                <div class="col-md-6">

                {{ form_start(form) }}

                    {{ form_label(form.motR) }}
                    {{ form_widget(form.motR) }}
                    <br>
                    {{ form_label(form.siteR) }}
                    {{ form_widget(form.siteR) }}
                    <br>
                    {{ form_label(form.dateD) }}
                    {{ form_widget(form.dateD) }}
                    {{ form_label(form.dateF) }}
                    {{ form_widget(form.dateF) }}


                </div>

                <div class="col-md-6">


                    {{ form_widget(form.orga) }}
                    {{ form_label(form.orga) }}
                    <br>
                    {{ form_widget(form.inscr) }}
                    {{ form_label(form.inscr) }}
                    <br>
                    {{ form_widget(form.noninscr) }}
                    {{ form_label(form.noninscr) }}

                    <br>
                    {{ form_widget(form.passe) }}
                    {{ form_label(form.passe) }}

                    <br>
                    {{ form_label(form.submit) }}
                    {{ form_widget(form.submit) }}

                    {{ form_end(form) }}



                    <a href="{{ path('sortie_index') }}" class="btn btn-primary">Toutes les sorties</a>


                </div>




            </div>


            
            <div class="row">

                {% for sortie in sorties %}
                    {% if sortie.etat.libelle != 'périmé' and sortie.etat.libelle != 'Annulée' %}
                    <!-- Liste des sorties-->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="{{ asset('build/images/' ~ sortie.urlPhoto) }}" alt="card image"></p>
                                            <h4 class="card-title">{{sortie.nom}}</h4>
                                            <p class="card-text">{{  sortie.debut ? sortie.debut|date('Y-m-d H:i:s') : ''  }}</p>
                                            {% if sortie.etat.libelle != 'Créée' %}
                                            <p class="red">{{ sortie.etat.libelle }}</p>
                                                {% endif %}
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside" style="overflow-y:auto; overflow-x: hidden">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">{{sortie.nom}}</h4>
                                            <p class="card-text" align="justify">{{ sortie.description }} </p>
                                            <p class="card-text">Durée : {{ sortie.duree }} minutes</p>

                                            <p class="card-text">Places restantes : {{ sortie.inscriptionsMax - sortie.inscriptions|length }} / {{ sortie.inscriptionsMax }}</p>

                                            <a href="{{ path('sortie_show', {'id': sortie.id}) }}" class="btn btn-default">Voir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </section>

    {% if app.user %}
    <div style="margin: 0 auto; width: 100px">
        <a href="{{ path('sortie_new') }}" class="btn btn-primary">Créer</a>
    </div>
    {% endif %}

{% endblock %}
