{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block main %}
    <h1>Créer une sortie</h1>
<div class="col-md-8">
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_row(form.nom) }}
    {{ form_row(form.debut) }}
    {{ form_row(form.duree) }}
    {{ form_row(form.clotureInscriptions) }}
    {{ form_row(form.inscriptionsMax) }}
    {{ form_row(form.description) }}
    {{ form_row(form.urlPhoto) }}
    {{ form_row(form.ville) }}
    {{ form_label(form.lieu) }}
    <div class="form-inline">
    {{ form_widget(form.lieu) }}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">+</button>
    </div>
</div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Créer un nouveau lieu</h4>
                </div>
                <div class="modal-body" style="overflow-y:auto">




                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{ form_row(form.submit) }}
    <a href="{{ path('sortie_index') }}">Revenir à la liste</a>
{% endblock %}

