{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block main %}



    <h5 class="section-title h1 titreShow" >{{sortie.nom}}</h5>


    <div class="container">
        <div class="row">
        <img src="{{ asset('build/images/' ~ sortie.urlPhoto) }}" alt="card image" class="imageProfil">

            <div class="col-md-6" >
                <div class="paddbot" >
                    Ville organisatrice :   {{sortie.lieu.ville}}
                </div>


                    <div class="paddbot" >
                    Lieu :   {{sortie.lieu}}
                    </div>


                        <div class="paddbot" >
                    Rue :   {{sortie.lieu.rue}}
                        </div>

                            <div class="paddbot" >
                    Code Postal :   {{sortie.lieu.ville.codePostal}}
                            </div>


                                <div class="paddbot" >
                    Latitude :   {{sortie.lieu.latitude}}
                                </div>


                <div class="paddbot" >
                    Longitude :   {{sortie.lieu.longitude}}
                </div>


<br>
                    <strong>Description : </strong>
                    <br>
                    <br>
                    {{sortie.description }}
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="marg">
                        <a href="{{ path('sortie_index') }}" type="button" class="btn btn-primary">Revenir à la liste</a>
                        &nbsp
                    </div>

                    <br>

                    {% if app.user %}
                        {% if app.user == sortie.organisateur %}
                        <div class="marg">
                            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}" type="button" class="btn btn-primary">Modifier</a>
                            &nbsp

                        </div>
                            <br>
                            <br>
                        <div class="marg">
                            <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}" type="button" class="btn btn-primary">Annuler</a>
                            &nbsp
                        </div>
                </div>
                        <div>
                            <br>

                        {{ include('sortie/_delete_form.html.twig') }}
                    </div>


                    {% else %}
                        {% if sortie in app.user.inscriptions %}
                            <a href="{{ path('sortie_unregister', {'id': sortie.id}) }}" type="button" class="btn btn-danger btn-sm">se désinscrire</a>
                        {% else %}
                            <a href="{{ path('sortie_register', {'id': sortie.id}) }}" type="button" class="btn btn-success">s'inscrire</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

            </div>
            <div class="col-md-3">

                <div class="paddbot" >
                    Date de la sortie :   {{sortie.debut ? sortie.debut|date('Y-m-d à H:i:s') : ''}}
                </div>
                <div  class="paddbot">
                    Date limite d'inscription:   {{sortie.clotureInscriptions ? sortie.clotureInscriptions|date('Y-m-d à H:i:s') : ''}}
                </div>
                <div class="paddbot">
                    Nombre de places :   {{sortie.inscriptionsMax}}
                </div>
                <div  class="paddbot">
                    Durée :   {{sortie.duree}} minutes
                </div>
                <br>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Liste des participants</button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Liste des participants</h4>
                            </div>
                            <div class="modal-body" style="overflow-y:auto">

                                <table class="table table-bordered">

                                    <thead>
                                    <tr>
                                        <th scope="col">Pseudo</th>
                                        <th scope="col">Nom</th>
                                    </tr>
                                    </thead>
                                    {% for inscription in  sortie.inscriptions %}
                                    <tbody>

                                    <tr>
                                        <td scope="row"><a href= "{{ path('participant_show', {'id': inscription.id, 'sortie' : sortie.id }) }}" >{{ inscription.username }}</a></td>
                                        <td>{{ inscription.prenom  }}
                                            {{ inscription.nom |upper }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
