{% extends 'base.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block main %}
    <h1>Ville index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>CodePostal</th>
                <th>Gérer</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('ville_show', {'id': ville.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('ville_edit', {'id': ville.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ville_new') }}" class="btn btn-primary">Créer</a>
{% endblock %}
